div.row
{
	clear: both;
	padding-top: 10px;
}
div.row span.label
{
	float: left;
	text-align: right;
	width: 70px;
}
div.row span.formw
{
	float: left;
	text-align: left;
	width: 200px;
}
textarea.newTitleTextArea
{
	background-image: url(images/new_title.png);
	background-position: bottom right;
	background-repeat: no-repeat;
	border: 3px solid #cccccc;
	font-family: Tahoma, sans-serif;
	height: 50px;
	padding: 5px;
	position: absolute;
	width: 150px;
}
body
{
	background: url("images/index/drawing.png");
	font-weight: bold;
}
