div.row {
  clear: both;
  padding-top: 10px;
}

div.row span.label {
  float: left;
  width: 70px;
  text-align: right;
}

div.row span.formw {
  float: right;
  width: 200px;
  text-align: left;
}

body { background: url("images/index/drawing.png"); font-weight:bold; }

