div.row
{
	clear: both;
	padding-top: 10px;
}
div.row span.label
{
	float: left;
	text-align: right;
	width: 70px;
}
div.row span.formw
{
	float: left;
	text-align: left;
	width: 200px;
}
textarea.newTitleTextArea
{
	background-image: url(images/new_title.png);
	background-position: bottom right;
	background-repeat: no-repeat;
	border: 3px solid #cccccc;
	font-family: Tahoma, sans-serif;
	height: 50px;
	padding: 5px;
	position: absolute;
	width: 150px;
}
body
{
	background: url("images/index/drawing.png");
	font-weight: bold;
}

div.info
{
font-family: Tahoma, sans-serif;
width:600px;
min-height:40px; /*min height of DIV should be set to at least 2x the width of the arrow*/
background: gray;
color:white;
padding:5px;
position:relative;
word-wrap:break-word;
-moz-border-radius:10px; /*add some nice CSS3 round corners*/
-webkit-border-radius:10px;
border-radius:10px;
margin-bottom:2em;
margin-top:2em;
}
